body{
    background-color: #F5F5F5;
}
.Chart1 {
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#FFFFFF;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.Chart2 {

    width: 400px;
    height: 400;
    display: inline-block; 
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Chart3 {

    width: 400px;
    height: 400;
    display: inline-block;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.tables {

    width: 100%;
    height: 400px;
    display: inline-block; 
    overflow-y:auto;
    max-height:400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#Chart4 {

    width: 200px;
    height: 400;
    margin: 30px;
    display: inline-block;
    text-align: center;
    font-size: 70px;

}

.Cartao{
    width: 200px;
    height: 400;
    margin: 30px;
    display: inline-block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.TextoCartao{
    text-align: center;
    font-size: 70px;
}

.imagem {
    display: inline-block;
    justify-content: center;
    width: 35%;
    max-width: 100%;
    height: 35%;
    margin-top: 25px;
    border-radius: 10px;
}
.CardStyle {
    position: relative;
    margin: auto;
    width: 90%;
    text-align: center;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.CardStyleLine2 {
    display: inline-block;
    position: absolute;
    justify-content: center;
    width: 48%;
    height: 45%;
    margin: 5px;
    border-radius: 10px;
}
.ContainerLine2 {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 50%;
    max-height: 100%;
}
.string1 {
    width: 100%;
    height: 1vw;
    display: inline-flex;
    justify-content: start;
    font-size: 1.05vw;
    font-weight: bold;
    margin-left: 20px;
    font-family: Arial, sans-serif;
}
.CardStyle .title {
    height: 2.5vw;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -5px;
    margin-top: 25px;
    font-family: Arial, sans-serif;
}
.ContainerCard{
    position: absolute;
    margin-left: 25vw;
    justify-content: center;
    width: 50vw;
    height: 25vw;
    display: inline-flex;
    bottom: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1vw;
}
.cardelipse {
    position: absolute;
    margin: auto;
    margin-bottom: 2vw;
    justify-content: center;
    display: inline-flex;
    bottom: 0;
    width: 25vw;
    height: 13vw;
}
.cardvalue {
    position: absolute;
    margin: auto;
    margin-bottom: 2vw;
    justify-content: center;
    display: inline-flex;
    bottom: 0;
    font-size: 2.5vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.title {
    width: 100%;
    height: 1.5vw;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-top: 1vw;
}