@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: aliceblue;
}
.Chart1 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.Chart2 {
    width: 100%;
    height: 30%; 
}

.Chart3 {

    width: 400px;
    height: 400;
    display: inline-block;
    margin: 30px;
}



.tables {

    width: 100%;
    height: 400px;
    display: inline-block; 
    overflow-y:auto;
    max-height:400px;
}


#Chart4 {

    width: 200px;
    height: 400;
    margin: 30px;
    display: inline-block;
    text-align: center;
    font-size: 70px;

}

.Cartao{
    width: 200px;
    height: 400;
    margin: 30px;
    display: inline-block;
    text-align: center;
    
}

.TextoCartao{
    text-align: center;
    font-size: 70px;
}

.Titulos{
    font-family:'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #2A3551;
}

.Legendas{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2A3551;
}

.ChartContainer{
    width: 50%;
    height: 50%;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-top: 2%;
    text-align: center;
    margin-top: 8%;
    }