.Chart1 {

    width: 600px;
    height: 600;
    display: inline-block; 
    margin: 30px;
}

.Chart2 {

    width: 400px;
    height: 400;
    display: inline-block; 
    margin: 30px;
}

.Chart3 {

    width: 400px;
    height: 400;
    display: inline-block; 
    margin: 30px;
}

#Chart4 {

    width: 150px;
    height: 400;
    display: inline-block; 
    margin: 30px;
    background-color:rgb(239, 239, 214);
    font-size: 70px;
    text-align: center;
}

#Chart5 {

    width: 150px;
    height: 400;
    display: inline-block; 
    margin: 30px;
    background-color:rgb(230, 230, 214);
    font-size: 70px;
    text-align: center;
}
